<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/22e6ecc02e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="CSS/navbar.css">
    <title>Document</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="#"><img class="logo" src="https://guiaimpresion.com/wp-content/uploads/2022/12/4-1.png"
                    alt="logo"></a>
            <input class="search" type="text" placeholder="Buscar">
            <div class="login">
                <a href="#">Ingresar</a>
                <a href="#"><img class="cart" src="https://cdn-icons-png.flaticon.com/512/3144/3144456.png" alt="Carrito"></a>
            </div>
        </div>
        <a href="#" class="hamburger-button">
            <i class="fa-solid fa-bars"></i>
        </a>
        <nav class="navbar">
            <ul>
                <li><a href="#">Categorías</a></li>
                <li><a href="#">Arma tu Pc</a></li>
                <li><a href="#">PCs armadas</a></li>
                <li><a href="#">Notebooks</a></li>
                <li><a href="#">Periféricos</a></li>
                <li><a href="#">Ofertas</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>