<header class="main-header">
    <div class="main-header-top-bar">
        <figure class="logo">
        <a href="/"><img src="/img/Logo Png Tecnopoint.png"
                alt="logo"></figure></a>
        <input class="search" type="text" placeholder="Buscar">
        <% if (locals.isLogged && locals.usuario.role_id === 1) { %>
            <div class="login">
                <a href="/admin">Admin</a>
                <a> Hola <%= locals.userLogged.first_name %> </a>
                <a href="../producto/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="../usuario/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
        <% } else if (locals.isLogged) { %>  
           
            <div class="login">
                <a href="#">Mis compras</a>
                <a> Hola <%= locals.userLogged.first_name %> </a>
                <a href="../producto/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="../logout"><i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
        <% } else { %>
            
            <div class="login">
                <a href="../usuario/login">Ingresar</a>
                <a href="../usuario/register">Registrate</a>
                <a href="../producto/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        <% } %>
    </div>
    <a href="#" class="hamburger-button">
        <i class="fa-solid fa-bars"></i>
    </a>
    <nav class="navbar">
        <ul>
            <li><a href="#">Categorías</a></li>
            <li><a href="#">Arma tu Pc</a></li>
            <li><a href="#">PCs armadas</a></li>
            <li><a href="#">Notebooks</a></li>
            <li><a href="#">Periféricos</a></li>
            <li><a href="#">Ofertas</a></li>
        </ul>
    </nav>
</header>