* {
    box-sizing: border-box;
    margin: 0;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

.search {
    border-radius: 5px;
}

.main-header {
    width: 100vw;
    background-color:  #040c24;
    padding: 10px;
}

.cart {
    width: 30px;
}


.hamburger-button {
    background-color: black;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    margin: auto;
}

.navbar {
    display: none;
}

.login {
    padding-left: 10px;
    width: 110px;
}


.navbar a{
    color: gray;
    display: inline-block;
    padding: 5px 0;
}

.main-header-top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {

    .main-header-top-bar {
        justify-content: space-between;
    }

    .search {
        width: 250px;
    }

    .login {
        display: flex;
        justify-content: space-between;
    }

    .login > a:first-child {
        display:  flex;
        align-items: center;
        color: #068FFF;
        font-size: 24px;        
    }
    .login > a:nth-child(2) {
        display: flex;
        align-items: center;
        color: #068FFF;
        font-size: 24px;         
    }
    .login > a:nth-child(3) {
        display: flex;
        align-items: center;
        color: #068FFF;
        font-size: 24px; 
    }
    .login > a:nth-child(4) {
        display: flex;
        align-items: center;
        color: #068FFF;
        font-size: 24px; 
    }

    .logo{
        width: 250px;
        height: auto;
    }

    .hamburger-button {
        display: none;
    }

    .navbar ul {
        display: flex;
        justify-content: space-between;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
    }

    .navbar li {
        margin: 0 30px;
    }
}

@media (min-width: 1200px) { 
    .main-header-top-bar, .navbar {
        max-width: 1200px;
        margin: auto;
    }

    .search {
        height: 50px;
        width: 500px;
        font-size: 20px;
    }

    .search::placeholder {
        font-size: 20px;
        padding-left: 10px;
    }

    .navbar {
        margin-top: 10px;
        justify-content: space-around;
    }

    .navbar ul {
        margin: 0 20px;
        justify-content: space-around;
        width: 100%;
    }

    .navbar a {
        font-size: 20px;
    }

    .cart {
        width: 50px;
    }

    .login {
        width: 200px;
    }

    .login a{
        padding: 30px;
        font-size: 20px;
    }
}