main {
    text-align: center;
}

.registrate {
    width: 40%;
    margin: auto;

}
.crearregistro {
    width: 100%;
}


.perfildeusuario {
    display: flex;
}
.control-formulario {
    padding: 10px;
    text-align: left;
    color: grey;
}





.control-etiqueta {
    margin-top: 16px;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
    color: grey;
}

.titulo-login {
    font-size: 2.5rem; /* Equivalente a display-5 en Bootstrap */
    text-align: center;
    padding-top: 10px;
    color:  #2a77c4 ; /* Color de texto oscuro en Bootstrap */
    /* Otros estilos para el h2 según tus necesidades */
  }

.input-form {
    width: 100%;
    border: grey;
    padding: 10px;
    border-radius: 5px;
}
.boton-continuar{
    background-color: #068FFF;
    border: none;
    font-size: 22px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    transition: all 500ms;

}

.boton-continuar:hover {
    background-color: #4E4FEB;
    box-shadow: 0px 0px 15px #4E4FEB;

}

.boton-continuar a {
    color: #fff;
    text-decoration: none;
    
}
.boton-crear {
    background-color: white;
    font-size: 22px;
    border-color: #068FFF;
    border-style: solid;
    color: #fff;
    padding: 10px 26px;
    border-radius: 15px;
    text-decoration: none;
    transition: all 500ms;

}

.boton-crear:hover {
    box-shadow: 0px 0px 15px #068FFF;

}
.boton-crear a {
    color: #068FFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.boton {
    margin: 25px;
}
.boton-registro {
    margin: 25px;
}

.text-danger {
    color: red;
}