* {
        margin: 0;
        padding: 0;;
        box-sizing: border-box;
    }

    /* paleta

    #040c24  #1bb2dd  #b9b9c1  #2a77c4 

    */
    main {
        color: #fff;
    }
    
    body {
        font-family: 'Roboto', Arial, sans-serif;
        margin: 0;
        background-color: #ebebeb;
    }
    
    h2{
        font-size: 24px;
        margin: 15px;
    }
    
    .banner{
        width: 100%;
    }
    
    .banner img{
        width: 100%;
    }
    
    main{
        margin: auto;
        text-align: center;
    }
    
    ul{
        list-style: none;
    }
    
    .marcas{
        width: 100%;
        height: 45px;
        background-color: black;
        margin: auto;
        line-height: 45px;
        border-radius: 15px;
        font-family: 'Vina Sans', sans-serif;
        font-size: 20px;
    }
    
    .marcas ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }
    
    .marcas li{
        color: white;
        border-radius: 5%;
        width: 100px;
        cursor: pointer;
    }
    
    
    /*.card-product{
        width: 30%;
        border: 1px solid #505050;
    }
    
    .img-product img{
        width: 100%;
    }
    
    .slider-destacados{
        border: 2px solid black;
        display: flex;
        justify-content: space-around;
        
    }*/
    
    .producto img {
        width: 90%;
        display: block;
        margin: 20px auto;
    }
    
    .precio {
        font-size: 18px;
    }
    
    .oferta {
        font-size: 16px;
        color: #39b54a;
        margin: 0 5px;
    }
    
    
    
    .producto {
        background-color: #fff;
        width: 95%;
        margin: 0 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 50px rgb(100, 100, 100);
        
    }
    

    
    
    .desc-text h4{
        padding: 0;
    }
    
    .desc-text p{
        font-size: 25px;
    }
    
    .option-button button{
        width: 35%;
        height: 50px;
        margin: 15px;
    }
    
    .producto-descripcion h4{
        color: #666;
        font-size: 18px;
        padding: 15px;   
    }
    
    .banner-home{
        display: none;
    }
    
    @media (min-width: 768px) {
        .barra-nav {
            display: flex;
            justify-content: space-between;
        }
    
        .leyenda {
            max-width: 350px;
            text-align: right;
        }
    
        .burger-menu {
            display: none;
        }
    
        .logo{
            width: 350px;
            margin-bottom: 20px;
        }
    
        .header-top {
            display: flex;
            justify-content: space-between;
        }
    
        .barra-nav ul {
            display: flex;
        }
    
        .barra-nav li {
            margin: 0 5px;
        }
    
        .productos{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    
        .producto{
            width: 45%;
            margin: 10px;
            cursor: pointer;
            transition: ease .5s;
        }
    
        .banner-home{
            display: block;
    
        }
    
        .banner-home img{
            width: 100%;
        }
    
        .producto:hover{
            box-shadow: 1px 1px 10px #666;
        }
    }
    
    @media (min-width: 1440px) {
    
    
        .leyenda{
            max-width: 500px;
            text-align: start;
            line-height: 90px;
        }
    
        .productos{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 20px;
        }
    
        .producto{
            width: 20%;
            margin: 10px;
            cursor: pointer;
            transition: ease .5s;
        }
    
        .producto:hover{
            box-shadow: 1px 1px 10px #666;
        }
    }