<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section class="banner">
            <div>
                <img src="/img/WEBBANNER-Z690-1920x500-Precio-Calidad.png" alt="imagen banner 1">
            </div>
        </section>
        <section class="marcas">
            <div>
                <ul>
                    <li>AMD</li>
                    <li>INTEL</li>
                    <li>EPSON</li>
                    <li>HP</li>
                    <li>REDRAGON</li>
                    <li>BANGHO</li>
                    <li>CORSAIR</li>
                </ul>
            </div>
        </section>
        <div>
            <h2>Destacados</h2>
        </div>
        <section class="productos">
            <div class="producto">
                <img src="/img/notebook-hp-156-i7-450g8-1165g7-8gb-256ssd-pcie-window-10-home.jpg"" height="384px" />
                <div class="producto-descripcion">
                    <div class="desc-text">
                        <h4>MotherBoard Aorus b450m</h4>
                        <p>$999.999</p>
                    </div>
                    <div class="option-button">
                        <button>detalles</button>
                        <button>comprar</button>
                    </div>
                </div>
            </div>
            <div class="producto">
                <img src="/img/notebook-acer-aspire-3-intel-ci3-1115g4-4gb-256gb-ssd-156-silver (2).jpg" />
                <div class="producto-descripcion">
                    <div class="desc-text">
                        <h4>Notebook Acer Aspire 3</h4>
                        <p>$999.999</p>
                    </div>
                    <div class="option-button">
                        <button>detalles</button>
                        <button>comprar</button>
                    </div>
                </div>
            </div>
            <div class="producto">
                <img src="/img/notebook-apple-macbook-pro-m1-13-8c-8g-ssd-512gb-myd92le-a.jpg" />
                <div class="producto-descripcion">
                    <div class="desc-text">
                        <h4>Macbook Pro</h4>
                        <p>$999.999</p>
                    </div>
                    <div class="option-button">
                        <button>detalles</button>
                        <button>comprar</button>
                    </div>
                </div>
            </div>
            <div class="producto">
                <img src="/img/notebook-hp-156-i7-450g8-1165g7-8gb-256ssd-pcie-window-10-home.jpg" />
                <div class="producto-descripcion">
                    <div class="desc-text">
                        <h4>Notebook HP</h4>
                        <p>$999.999</p>
                    </div>
                    <div class="option-button">
                        <button>detalles</button>
                        <button>comprar</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="categories">
            <h3>Categorias</h3>
            <ul>
                <li>Pcs Escritorio</li>
                <li>Notebook</li>
                <li>Monitores</li>
                <li>Impresoras</li>
            </ul>
        </section>
        <h2>Recientes</h2>
        <section class="productos">
            <div class="producto">
                <img src="/img/500.jpg" height="385px" />
                <div class="producto-descripcion">
                    <div class="desc-text">
                        <h4>MotherBoard Aorus b450m</h4>
                        <p>$999.999</p>
                    </div>
                    <div class="option-button">
                        <button>detalles</button>
                        <button>comprar</button>
                    </div>
                </div>
            </div>
            <div class="producto">
                <img src="/img/notebook-acer-aspire-3-intel-ci3-1115g4-4gb-256gb-ssd-156-silver (2).jpg" />
                <div class="producto-descripcion">
                    <div class="desc-text">
                        <h4>Notebook Acer Aspire 3</h4>
                        <p>$999.999</p>
                    </div>
                    <div class="option-button">
                        <button>detalles</button>
                        <button>comprar</button>
                    </div>
                </div>
            </div>
                <div class="producto">
                    <img src="/img/notebook-apple-macbook-pro-m1-13-8c-8g-ssd-512gb-myd92le-a.jpg" />
                    <div class="producto-descripcion">
                        <div class="desc-text">
                            <h4>Macbook Pro</h4>
                            <p>$999.999</p>
                        </div>
                        <div class="option-button">
                            <button>detalles</button>
                            <button>comprar</button>
                        </div>
                    </div>
                </div>
            <div class="producto">
                <img src="/img/notebook-hp-156-i7-450g8-1165g7-8gb-256ssd-pcie-window-10-home.jpg" />
                <div class="producto-descripcion">
                    <div class="desc-text">
                        <h4>Notebook HP</h4>
                        <p>$999.999</p>
                    </div>
                    <div class="option-button">
                        <button>detalles</button>
                        <button>comprar</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>

</body>

</html>