<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
       <div class="registrate">
         <form action="/crear-registro" method="POST" class="crearregistro">
             <label class="etiqueta-login">Ingresá</label>
            
             <div class="control-etiqueta">
                <label class="etiqueta-formulario">Usuario</label>
             </div>
             <div class="control-formulario">
                 <input type="email" name="email" class="input-form" placeholder="">
             </div>
             <div class="control-etiqueta">
                <label class="etiqueta-formulario">Contraseña</label>
             </div>
             <div class="control-formulario">
                 <input type="password" name="contraseña-login" class="input-form" placeholder="" required>
             </div>
             
             <div class="boton">
                 <button type="submit" class="boton-continuar"><a href="/">Continuar</a></button>
             </div>
             <div class="boton-registro">
                <button type="submit" class="boton-crear"><a href="/">Registrate</a></button>
            </div>
         </form>
       </div>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>