<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/22e6ecc02e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="CSS/navbar.css">
    <title>Document</title>
</head>